/*
* @Author: lsx
* @Date:   2021-04-18 10:49:24
* @Last Modified by:   Administrator
* @Last Modified time: 2021-04-18 16:47:27
*/
body {
    margin: 0;
}
.game {
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid #000;
    margin: 0 auto;
    overflow: hidden;
}
.game .sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('../images/sky.png');
}
.game .land {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 112px;
    background: url('../images/land.png');
}
.game .bird {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 33px;
    height: 26px;
    background-image: url('../images/bird.png');
}
/* bird's state */
.game .bird.wing0 {
    background-position: -8px -10px;
}
.game .bird.wing1 {
    background-position: -60px -10px;
}
.game .bird.wing2 {
    background-position: -113px -10px;
}
.game .pipe {
    position: absolute;
    left: 350px;
    width: 52px;
    height: 175px;
}
.game .pipe.up {
    top: 0;
    background-image: url('../images/pipeUp.png');
    background-position: bottom;
}
.game .pipe.down {
    bottom: 112px;
    background-image: url('../images/pipeDown.png');
}
.info {
    text-align: center;
}